{% extends 'base.html' %}

{% block title %}About me{% endblock title %}

{% block content %}
<section class="about-section center-row" >

    <div class="about-image-container center-row">
        <img src="./img/logo.png" alt="my logo">
    </div>

    <div class="about-description-container center-column">

 
        <div class="center-column">
            <h1>My role as developer</h1>
            <h2>My name here</h2>
        </div>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa optio officiis laboriosam blanditiis, voluptatem voluptates aliquam veniam quam minus est accusantium rem tempora iste aut deleniti officia sed cupiditate distinctio.
            Vero dolore quo ipsum incidunt impedit magnam explicabo, sunt modi atque eos nemo, quam voluptatum beatae? Dolore tempora animi aspernatur, sit inventore dolores voluptate hic excepturi minus accusantium similique. Doloribus!
            
            <br>
            <br>
        
            Sunt molestias, quaerat suscipit voluptate velit quos dolorum hic eos ipsam deserunt assumenda aperiam excepturi dolores inventore atque vitae repellat quis odit in saepe magni iure ab. Facere, deserunt dolorum?
            Soluta sequi adipisci sunt, voluptas voluptatem debitis veritatis assumenda expedita nulla quidem harum? Cupiditate minus corporis aut, adipisci doloremque, voluptatum delectus atque inventore perferendis quisquam animi ex nemo distinctio sapiente.
            Sint distinctio magnam, vel neque aspernatur libero quaerat rerum atque nulla itaque corrupti voluptates sed, totam voluptate culpa quo. Consequuntur, odio eligendi est quaerat quos illum aliquid modi suscipit! Magni.
        </p>

        <div class="skill-list center-column">
            <h2>My Skills</h2>

            <div class="tags-container center-row">
                <label>my skill</label>
                <label>my skill</label>
                <label>my skill</label>
                <label>my skill</label>
                <label>my skill</label>
                <label>my skill</label>
                <label>my skill</label>
                <label>my skill</label>
                <label>my skill</label>
                <label>my skill</label>
            </div>
        </div>

    </div>
</section>

{% endblock content %}